In [3]:
import pandas as pd
import numpy as np

In [6]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [7]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [35]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [39]:
np.random.seed(0)
X_treino, X_valid, y_treino, y_valid = train_test_split(X, y, test_size=0.5)

In [40]:
X_treino.shape, X_valid.shape, y_treino.shape, y_valid.shape

((445, 2), (446, 2), (445,), (446,))

In [41]:
modelo = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=0)
modelo.fit(X_treino, y_treino)

RandomForestClassifier(n_jobs=-1, random_state=0)

In [45]:
p = modelo.predict(X_valid)

In [46]:
np.mean(y_valid == p)

0.7690582959641256

In [47]:
p = (X_valid['Sex_binario'] == 1).astype(np.int64)
np.mean(y_valid == p)

0.7825112107623319

In [ ]:
#Validação cruzada

In [49]:
from sklearn.model_selection import KFold

In [57]:
resultados = []
for rep in range(10):
    print("Rep:", rep)
    kf = KFold(2, shuffle=True, random_state=rep)

    for linhas_treino, linhas_valid in kf.split(X):
        print("Treino:", linhas_treino.shape[0])
        print("Valid:", linhas_valid.shape[0])
        print()

        X_treino, X_valid = X.iloc[linhas_treino], X.iloc[linhas_valid]
        y_treino, y_valid = y.iloc[linhas_treino], y.iloc[linhas_valid]
        modelo = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=0)
        modelo.fit(X_treino, y_treino)
        p = modelo.predict(X_valid)
        acc = np.mean(y_valid == p)
        resultados.append(acc)
        print("acc:", acc)
        print()

Rep: 0
Treino: 445
Valid: 446

acc: 0.7713004484304933

Treino: 446
Valid: 445

acc: 0.7797752808988764

Rep: 1
Treino: 445
Valid: 446

acc: 0.7443946188340808

Treino: 446
Valid: 445

acc: 0.7955056179775281

Rep: 2
Treino: 445
Valid: 446

acc: 0.7757847533632287

Treino: 446
Valid: 445

acc: 0.7887640449438202

Rep: 3
Treino: 445
Valid: 446

acc: 0.7533632286995515

Treino: 446
Valid: 445

acc: 0.7573033707865169

Rep: 4
Treino: 445
Valid: 446

acc: 0.7354260089686099

Treino: 446
Valid: 445

acc: 0.7415730337078652

Rep: 5
Treino: 445
Valid: 446

acc: 0.7219730941704036

Treino: 446
Valid: 445

acc: 0.7056179775280899

Rep: 6
Treino: 445
Valid: 446

acc: 0.7757847533632287

Treino: 446
Valid: 445

acc: 0.7303370786516854

Rep: 7
Treino: 445
Valid: 446

acc: 0.7040358744394619

Treino: 446
Valid: 445

acc: 0.7348314606741573

Rep: 8
Treino: 445
Valid: 446

acc: 0.7488789237668162

Treino: 446
Valid: 445

acc: 0.7887640449438202

Rep: 9
Treino: 445
Valid: 446

acc: 0.7623318385650224

Treino: 446
Valid: 445

acc: 0.7842696629213484

In [58]:
np.mean(resultados)

0.7550007557817302

In [10]:
variaveis = ['Sex_binario', 'Age']

In [14]:
def transformar_sexo(valor):
    if valor == 'female':
        return 1
    else:
        return 0
    
train['Sex_binario'] = train['Sex'].map(transformar_sexo)

In [15]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [16]:
variaveis = ['Sex_binario', 'Age']

In [17]:
X = train[variaveis]
y = train['Survived']

In [18]:
modelo.fit(X, y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [19]:
X = X.fillna(-1)

In [20]:
modelo.fit(X, y)

RandomForestClassifier(n_jobs=-1, random_state=0)

In [21]:
X_prev = test[variaveis]

KeyError: "['Sex_binario'] not in index"

In [22]:
test['Sex_binario'] = test['Sex'].map(transformar_sexo)

In [25]:
X_prev = test[variaveis]
X_prev = X_prev.fillna(-1)

In [26]:
X_prev.head()

   Sex_binario   Age
0            0  34.5
1            1  47.0
2            0  62.0
3            0  27.0
4            1  22.0

In [27]:
p = modelo.predict(X_prev)

In [28]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1

In [33]:
sub = pd.Series(p, index=test['PassengerId'], name='Survived')
sub.shape

(418,)

In [34]:
sub.to_csv("primeiro_modelo.csv", header=True)

'head' não é reconhecido como um comando interno
ou externo, um programa operável ou um arquivo em lotes.